@charset "utf-8";
/* These are exceptions for all versions of IE to keep the layout consistent in all browsers.  */

body #slider.nivo img {position:absolute;top:0px;left:0px;display: block;}
.search input {line-height: 19px;}
#CommentForm .textInput	{line-height: 34px;}	