@charset "utf-8";
/* MAIN STYLES */


h1 {
	color: #FFF;
	font-size: 48px;
	margin-bottom: 10px;
	font-weight: normal;
	text-transform: uppercase;
}
h2 {
	font-size: 24px;
	color: #FFF;
	font-weight: normal;
}
h3 {
	color: #eeeeee;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 15px;
	font-weight: normal;
	margin-top: 15px;
}
h4 {
	font-size: 14px;
	text-transform: uppercase;
	color: #eeeeee;
	margin-bottom: 15px;
}
h5 {
	font-size: 14px;
	color: #eeeeee;
	padding-top: 15px;
}
p {
	font-size: 12px;
	line-height: 18px;
	color: #eeeeee;
	margin-bottom: 20px;
}
p.success {
	color: #333;
	padding: 20px;
	background-color: #CEECB3;
	border: thin solid #666;
	width: auto;
	float: left;
}

a {
	text-decoration: none;
	color: #40a9e0;
}

body {
	background-color: #111111;
	background-image: url(../images/body-bg.jpg);
	background-repeat: repeat-x;
	background-position: center top;
	font-family: Arial, Helvetica, sans-serif;
}
body.content {
	background-color: #11110f;
	background-image: url(../images/body-bg-sh.jpg);
	background-repeat: repeat-x;
	background-position: center top;
	font-family: Arial, Helvetica, sans-serif;
}
/* SKYBLUE THEME */
body.skyblue {background-image: url(../images/skyblue/body-bg.jpg);}
body.content.skyblue {background-image: url(../images/skyblue/body-bg-sh.jpg);}
body.skyblue .search-box {background-image: url(../images/skyblue/search-bg.png);}
body.skyblue .search .search-box input {
	background-color: #D0DDEE;
	border: 1px solid #D0DDEE;
	color: #666;
}
body.skyblue .search #search {background-image: url(../images/skyblue/search-submit.png);}
body.skyblue .search #search:hover {background-image: url(../images/skyblue/search-submit-hov.png);}

/* CHOC THEME */
body.choc {background-image: url(../images/choc/body-bg.jpg);}
body.content.choc {background-image: url(../images/choc/body-bg-sh.jpg);}
body.choc .search-box {background-image: url(../images/choc/search-bg.png);}
body.choc .search .search-box input {
	background-color: #E2D9D0;
	border: 1px solid #E2D9D0;
	color: #666;
}
body.choc .search #search {background-image: url(../images/choc/search-submit.png);}
body.choc .search #search:hover {background-image: url(../images/choc/search-submit-hov.png);}

/* BLUEWOOD THEME */
body.bluewood {background-image: url(../images/bluewood/body-bg.jpg);}
body.content.bluewood {background-image: url(../images/bluewood/body-bg-sh.jpg);}
body.content.bluewood .portfolio-sections a {color:#999;}

/* ROYAL THEME */
body.royal {background-image: url(../images/royal/body-bg.jpg);}
body.content.royal {background-image: url(../images/royal/body-bg-sh.jpg);}
body.content.royal .portfolio-sections a {color:#999;}

/* ROYAL THEME */
body.woody {background-image: url(../images/woody/body-bg.jpg);}
body.content.woody {background-image: url(../images/woody/body-bg-sh.jpg);}
body.content.woody .portfolio-sections a {color:#999;}

/* End: COLOUR THEMES */

.content .mar-top {
	margin-top: 25px;
}
.img-1 {
	margin-top: 45px;
	margin-left: 25px;
}
.shadow-bg {
	background-image: url(../images/shadow-divider-1.png);
	height: 47px;
	background-repeat: no-repeat;
	margin-bottom: 10px;
}



.logo-container {
	float: left;
	position: relative;
	height: 80px;
	display: block;
	overflow: visible;
	margin-top: 20px;
	left: -50px;
	margin-bottom: 20px;
}
.service-img {
	margin-bottom: 20px;
}

.hr-divider {/* USED TO ALIGN SHADOWS */
	margin-bottom: 30px;
}
.vr-divider {
	float: right;
}
.rightalign {
	float:right;
}
.leftalign {
	float:left;
}
.textleft {
	text-align:left;
}
.textright {
	text-align:right;
}
.blank {
	height: 40px;
}
.social img {
	margin-right: 12px;
}
/* SEARCH */

.search {
	width: auto;
	float: right;
	margin-top: 35px;
}
.search-box {
	height: 45px;
	width: 204px;
	background-image: url(../images/search-bg.png);
	background-repeat: no-repeat;
	float: left;
}
.search input {
	float: left;
	color: #B7B7B7;
	width: 150px;
	font-size: 11px;
}

.search .search-box input {
	margin-top: 7px;
	margin-left: 5px;
	height: 20px;
	background-color: #DBDBDB;
	border: 1px solid #DBDBDB;
}
.search #search {
	background-image: url(../images/search-submit.png);
	background-repeat: no-repeat;
	height: 24px;
	width: 31px;
	overflow: hidden;
	text-indent: 100px;
	float: left;
	margin-left: 5px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.search #search:hover {
	background-image: url(../images/search-submit-hov.png);

}

/* HOMEPAGE BUTTONS */
.tour {
	margin-top: 70px;
}
.button-1 {
	text-decoration: none;
	color: #FFF;
	height: 41px;
	width: 190px;
	text-align: center;
	background-image: url(../images/button-1.png);
	text-transform: uppercase;
	font-size: 14px;
	padding-top: 20px;
	position: relative;
	display: block;
	float: left;
	margin-right: 20px;
}
.button-2 {
	text-decoration: none;
	color: #FFF;
	height: 41px;
	width: 190px;
	text-align: center;
	background-image: url(../images/button-2.png);
	text-transform: uppercase;
	font-size: 14px;
	padding-top: 20px;
	position: relative;
	display: block;
	float: left;
}
/* HOMEPAGE BUTTONS END */

/* MORE BUTTONS */
.inquire-button {
	text-decoration: none;
	color: #FFF;
	height: 41px;
	width: 285px;
	text-align: center;
	background-image: url(../images/inquire-button.png);
	text-transform: uppercase;
	font-size: 14px;
	padding-top: 20px;
	position: relative;
	display: block;
	float: left;
	background-repeat: no-repeat;
	margin-top: 40px;
}
/* SIDE BAR */
.side li a {
	text-decoration: none;
	color: #999999;
	font-size: 14px;
	line-height: 30px;
	background-image: url(../images/list-bg-1.png);
	float: left;
	clear: left;
	background-repeat: no-repeat;
	background-position: bottom;
	width: 80%;
	text-indent: 35px;
}
.sidebar h4 {
	margin-left: 35px;
}

.side li a:hover, .side li a:hover {
	color: #CCC;
}
.side {
	margin-top: 25px;
}
.sidebar {
	padding-top: 15px;
}

/* FOOTER */

.news img {
	float: left;
	clear: left;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
.news p {
	color: #999999;
}
.item {
	float: left;
	width: 440px;
}
.partners li a {
	text-decoration: none;
	color: #999999;
	font-size: 14px;
	line-height: 30px;
	background-image: url(../images/list-bg-1.png);
	float: left;
	clear: left;
	background-repeat: no-repeat;
	background-position: bottom;
	width: 80%;
	text-indent: 5px;
}
.partners li a:hover, .contact-info li a:hover {
	color: #CCC;
}
.partners, .contact-info {
	margin-top: 25px;
}
.contact-info li a {
	text-decoration: none;
	color: #999999;
	font-size: 14px;
	line-height: 30px;
	float: left;
	clear: left;
	background-repeat: no-repeat;
	background-position: bottom;
	width: 80%;
	text-indent: 50px;
	margin-bottom: 15px;
}
.contact-info .phone a {
	background-image: url(../images/icons/phone.png);
	background-position: left;
}
.contact-info .email a {
	background-image: url(../images/icons/email.png);
	background-position: left;
}
.contact-info .www a {
	background-image: url(../images/icons/www.png);
	background-position: left;
	color: #40a9e0;
}
.copyright {
	height: 47px;
	width: 927px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/shadow-footer-bg.png);
	background-repeat: no-repeat;
	margin-top: 20px;
}
.copyright p {
	text-align: center;
	font-size: 10px;
	color: #6f6f6f;
	padding-top: 30px;
}

.footer_bg	{
	width:100%;
	overflow:hidden;
	padding:30px 0;
	background-color: #000;
	background-image: url(../images/footer_bg.png);
	background-position: center top;
	background-repeat: repeat-x;
	}
	
	
/* WHITE FOOTER : To switch to white footer add 'white' to the footer_bg div class*/	
.footer_bg.white {background-image: url(../images/footer_bg_white.png);background-position: top;}
.footer_bg.white h4 {color: #000;}
.footer_bg.white h5 {color: #333;}
.footer_bg.white p {color: #666;}
.footer_bg.white .contact-info .phone a {background-image: url(../images/icons/phone_black.png);}
.footer_bg.white .contact-info .email a {background-image: url(../images/icons/email_black.png);}
.footer_bg.white .contact-info .www a {background-image: url(../images/icons/www_black.png);}
.footer_bg.white .partners li a {color: #666;background-image: url(../images/list-bg-1_white.png);}
.contact-info li a {color: #666;}
.footer_bg.white li a:hover {color: #000;}
.footer_bg.white .copyright p {	color: #666;}
/* FOOTER END */


/* MAIN NAVIGATION */
.navigation {
	background-image: url(../images/navigation-bg.png);
	background-repeat: repeat-x;
	height: 28px;
	background-position: top;
	width: auto;
	position: relative;
	float: right;
	padding-top: 6px;
	right: -5px;
}

.navigation ul {
	display: inline;
}
.navigation ul li {
	display: inline;


}
.navigation ul li a {
	text-decoration: none;
	color: #dbdbdb;
	width: auto;
	padding-right: 25px;
	padding-left: 25px;
	font-size: 11px;
	text-transform: uppercase;
	display: block;
	float: left;
	padding-top: 9px;
	padding-bottom: 5px;
	letter-spacing: 0.1em;
}
.nav-right-corner {
	height: 34px;
	width: 15px;
	background-image: url(../images/nav-right-corner-bg.png);
	float: right;
	right: -5px;
	position: relative;
}
.nav-left-corner {
	height: 34px;
	width: 69px;
	background-image: url(../images/nav-left-corner-bg.png);
	float: right;
	right: -5px;
	position: relative;
}

.navigation-wrap {
	float: right;
	position: relative;
	width: 960px;
	background-repeat: repeat-x;
	background-position: bottom;
	z-index: 999;
}

.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;
	position:relative;
	z-index:50;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			185px; /* left offset of submenus need to match (see below) */
	z-index:100;
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
		

}
.sf-menu li:hover ul, .sf-menu li.sfHover ul {
	left:			0;
	top:2em; /* match top ul list item height */
}
ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
	left:			185px; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul {
	left:			185px; /* match ul width */
	bottom: 10em;
	top:			0;
}
.sf-menu {
	float:right;
	margin-bottom:	0;
	z-index: 50;
	position:relative;
	right:-5px;
	background-image: url(../images/navigation-bg.png);
	background-repeat: repeat-x;
	background-position: top;
	height:34px
}
.sf-menu a {
	text-decoration:none;
}
.sf-menu a, .sf-menu a:visited { /* visited pseudo selector so IE6 applies text colour*/
	text-decoration: none;
	color: #dbdbdb;
	width: auto;
	padding-right: 25px;
	padding-left: 25px;
	font-size: 10px;
	text-transform: uppercase;
	display: block;
	float: left;
	padding-top: 15px;
	padding-bottom: 5px;
	letter-spacing: 0.1em;
}
.sf-menu li {

}
.sf-menu li ul {
	padding:1px;
	padding-bottom:15px;
	background-color: #1b1b1b;
	background-image: url(../images/sub-nav-bg.png);
	background-repeat: repeat-x;
	background-position: top;
	border: 1px solid #4e4e4e;

}
.sf-menu li li {
	padding-bottom: 5px;
	padding-top: 0px;
	height:25px;
	background-image: url(../images/sub-nav-li-ul-bg.png);
	background-repeat: no-repeat;
	background-position: center 8px;
}
.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	color:#fff;
	outline:		0;
}
.sf-menu li li:hover, .sf-menu li li.sfHover, .sf-menu li li a:focus, .sf-menu li li a:hover, .sf-menu li li a:active {
	color:#fff;
	outline:		0;
}
/* Active Page Status CSS for all the browsers*/	
.sf-menu li.current-cat a, .sf-menu li.current_page_item a {
	color:#dbdbdb;
}
.sf-menu li.current-cat a:visited, .sf-menu li.current_page_item a:visited {
	color:#C4C4C4;
}
.sf-menu .current_page_item a {
	background-image: url(../images/active-glow.jpg);
	background-repeat: no-repeat;
	background-position: center 5px;
	font-weight: bold;
	color: #FFF;
}
.sf-menu  li.current_page_item ul li a {
	background-image: none;

}
.sf-menu  li.current_page_item ul li a:hover {
	background-image: none;
	color:#FFF

}
/* MAIN NAVIGATION END */


/* SLIDER */

.slider-frame {
	background-image: url(../images/slider-frame.png);
	height: 354px;
	background-repeat: no-repeat;
	background-position: top;
	width: 960px;
	left: -5px;
	position: relative;
	padding-right: 5px;
	padding-left: 5px;
	overflow: visible;
	margin-bottom: 25px;
}

	#slider ul, #slider li,  #slider li { /* defines width and height of  each slide*/
	width:960px;
	height:348px;
	overflow:hidden;
}
/* numeric controls */	

	ol#controls {
	margin:1em 0;
	padding:0;
	float: right;
	

}
ol#controls li {
	margin:0 10px 0 0;
	padding:0;
	float:left;
	list-style:none;

	
}
ol#controls li a {
	float:right;
	color:#666;
	padding:0 10px;
	text-decoration:none;
			
}
ol#controls li.current a {
	color:#999;
	font-weight:bold;
}

/* END SLIDER */

/* 3d header */
#piecemakercontainer {
	width:1200px;
	outline:0;
	margin-left: -120px;
}
.piecemakerframe {
	background-image: url(../images/cub3r-frame-shadow.png);
	height: 430px;
	background-repeat: no-repeat;
	background-position: top;
	width: 960px;
	left: -5px;
	position: relative;
	padding-right: 5px;
	padding-left: 5px;
	overflow: visible;
	z-index: 1;
}
/* END CU3ER */
h2 .tag {
	position: relative;
	z-index: -3;
}
.grey {
	color: #999;
}


/* CONTACT FORM */

#CommentForm fieldset legend	{ display: none; }
#CommentForm div 				{
	margin-bottom: 10px;
}		
#CommentForm .textInput			{
	width: 196px;
	margin: 0;
	height: 38px;
	background-image: url(../images/input_bg.png);
	background-repeat: no-repeat;
	border: 0;
	padding-right: 10px;
	padding-left: 10px;
	color: #969696;
}	
#CommentForm .submit {
	border: 0;
	float: right;
	background-color: #323232;
	color: #CCC;
	padding: 3px;
	height: 31px;
	width: 95px;
	background-image: url(../images/submit_bg.png);
	background-repeat: no-repeat;
	text-align: center;
}
#CommentForm .submit:hover {
	background-image: url(../images/submit_bg_hov.png);
	color: #FFF;
}

#CommentForm textarea			{
	width: 283px;
	margin: 0;
	height: 121px;
	background-image: url(../images/textarea_bg.png);
	background-repeat: no-repeat;
	border: 0;
	padding-right: 10px;
	padding-left: 10px;
	color: #969696;
	overflow: visible;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	overflow:hidden;
	overflow-y: hidden;
	overflow-x: hidden;
}	

.portfolio .thumb {
	height: 120px;
	width: 296px;
	padding-top: 6px;
	padding-left: 4px;
	background-image: url(../images/portfolio_thumb.png);
	background-repeat: no-repeat;
	margin-bottom: 20px;
	-ms-interpolation-mode: bicubic; 

}
.portfolio .thumb img:hover {
	position:relative;
	z-index:1;
	background-image: url(../images/portfolio-hov-bg.png);
	padding:11px
}

.portfolio-sections {
	height: 50px;
	padding-top: 80px;
	background-image: url(../images/shadow-divider-1.png);
	background-position: top;
	background-repeat: no-repeat;
}
.portfolio-sections a {
	float: left;
	margin-left: 45px;
	color: #333;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: -0.05em;
	
	
}

.portfolio-sections span {
	font-size: 14px;
	color: #FFF;
	text-transform: uppercase;
	float: left;


}
.portfolio-sections .current {
	color: #7D7D7D;
}
.portfolio-sections a:hover {
	color: #999;
}
.portfolio h4 {
	font-weight: normal;
	font-size: 14px;
	text-transform: none;
}
.portfolio p {
	font-size: 10px;
	margin-top: -15px;
	margin-bottom:20px;
	color: #999;	
}


/*--Main Container--*/
.main_view {
	float: left;
	position: relative;
}
/*--Window/Masking Styles--*/
.window {
	height:348px;
	width: 960px;
	overflow: hidden; /*--Hides anything outside of the set width/height--*/
	position: relative;
	margin-bottom: 25px;
}
.image_reel {
	position: absolute;
	top: 0;
	left: 0;
	height: 348px;
	overflow: hidden;
}
.image_reel img {float: left;}

/*--Paging Styles--*/
.paging {
	position: absolute;
	bottom: 40px;
	right: -7px;
	width: 178px;
	height:47px;
	z-index: 999; /*--Assures the paging stays on the top layer--*/
	text-align: center;
	line-height: 40px;
	background: url(../images/paging_bg2.png) no-repeat;
	display: none; /*--Hidden by default, will be later shown with jQuery--*/
}
.paging a {
	padding: 5px;
	text-decoration: none;
	color: #fff;
}
.paging a.active {
	font-weight: bold;
	border: 1px solid #666;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #000;
}
.paging a:hover {font-weight: bold;}
